
  */
  --home-icon-image-zoom: 100%;

  /*
    Server Listing Width
    Single Column:  62px
    Double Column:  126px
    Triple Column:  184px
    Quad Column:    242px
  */
  --server-listing-width: 126px;

  /*
    Font Size
  */
  --font-size: 100%;

  /*
    Mention colors
  */
  --mention-color: rgba(250, 166, 26, 0.05);
  --mention-sider: rgba(250, 166, 26, 1);
  --mention-hover-color: rgba(250, 166, 26, 0.08);

  /*
    Server category hover color
  */
  --category-hover-color: rgb(60, 202, 138);

  /*
    Change the unread server animation.
    Replace it with "none" in order to remove any animations and use the main color instead
  */
  --unread-server-animation: black;
